{% extends "::base.html.twig" %}

{% block user_links %}
    {% if is_granted('ROLE_REGISTERED') %}
            <p class="header_logos_center_user"><a href="{{ path('fos_user_security_logout') }}">Выйти</a></p>
    {% else %}
            <p class="header_logos_center_user"><a id="login_to_site" href="{{ path('fos_user_security_login') }}">Войти на сайт</a></p>
    {% endif %}
{% endblock %}

{% block body %}
<div id="successModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="successModalLabel">Подтверждение регистрации</h3>
    </div>
    <div class="modal-body">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
        {% endif %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#successModal').modal('show')
        });
    </script>
{% endblock %}