{#

This file is part of the "AiloveOliport" package.

Copyright Ailove company <info@ailove.ru>

#}

{% extends "AiloveOlimpBundle::layout.html.twig" %}

{% block fos_user_content %}

    <form method="post" class="ph-16" action="{{ path('_social_connect_password') }}" {{ form_enctype(form) }} novalidate="novalidate" style="margin-top: 100px;">
        <span style="color: red; font-weight: bold;">{{ form_errors(form) }}</span>
        <p class="f-18 b">
            <label for="connect_password_password">
                Email, который вы указали, уже есть в базе, для подтверждения введите пароль вашей учётной записи.
                Если вы его не помните, воспользуйтесь
                <a href="{{ path('fos_user_resetting_request') }}">функцией восстановления пароля</a>.
            </label>
        </p>
        <p>
            <div style="color: red; font-weight: bold;">{{ form_errors(form.password) }}</div>
            <span class="field">
                {{ form_widget(form.password, { 'attr': {'class': 'w-300'} }) }}
                <q class="l"></q><q class="r"></q><q class="c"></q>
            </span>
        </p>
        {{ form_rest(form) }}
        <p>
            <button type="submit" class="btn"><span>Завершить регистрацию<q class="l"></q><q class="r"></q><q class="c"></q></span></button>
        </p>
    </form>

{% endblock fos_user_content %}
