{% autoescape false %}
{% set social_titles = { 'ok': 'odnoklassniki.ru', 'vk': 'vk.com', 'fb': 'facebook.com' } %}
<html>
    <head></head>
    <body>
        Если вы не совершали ни каких действий на сайте <a href="http://project.ru/">http://project.ru</a>, проигнорируйте это сообщение.<br/><br/>
        Для того чтобы связать ваш социальный аккаунт "{{ socialUid }} - {{ social_titles[social] }}" с аккаунтом сайта "{{ email }}" перейдите по ссылке:<br/>
        <a href="{{ url('_social_confirm_bind', { 'token' : token, 'social': social, 'socialUid' : socialUid }) }}">{{ url('_social_confirm_bind', { 'token' : token, 'social': social, 'socialUid' : socialUid }) }}</a>.
    </body>
</html>
{% endautoescape %}